.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;

  main {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex: 1;

    .banner {
      width: calc(100% + 8rem);
      height: 25rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.15;
      z-index: -1;
    }
  }
}

@media (max-width: 1024px) {
  .app {
    main {
      .banner {
        width: 100%;
        height: auto;
      }
    }
  }
}
