.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: -1;
  position: absolute;

  img {
    width: 60rem;
    height: 25rem;
    opacity: 0.15;
  }
}

main {
  padding: 6rem 0;
  // flex: 1 1 0%;
}

@media (max-width: 1024px) {
  .banner {
    img {
      width: 100%;
      height: auto;
    }
  }
}
