body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  // color:#111;
}

body {
  background-color: #111010;
  // background-color: #F5F5F5;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 100%;
  padding: 3rem 0;
  box-sizing: border-box; 
}

@media (max-width: 1024px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
