<div class="introduction">
  <span>Olá,</span>
  <h1>Eu sou o Iuri.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae  aspernatur doloremque illum esse </p>
  <p>magnam modi dolorem neque asperiores saepe, doloribus iusto, sint sed animi consequuntur harum voluptatem veniam inventore reprehenderit.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae  aspernatur doloremque illum esse </p>
  <p>magnam modi dolorem neque asperiores saepe, doloribus iusto, sint sed animi consequuntur harum voluptatem veniam inventore reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae  aspernatur doloremque illum esse </p>
  <p>magnam modi dolorem neque asperiores saepe, doloribus iusto, sint sed animi consequuntur harum voluptatem veniam inventore reprehenderit.</p>
</div>
